#con-1{
    display: grid;
    place-items: center;
    height: 300px;
    background: url('img/bbblurry.svg');
    /* background-blend-mode: hard-light; */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#con-1 h2{
    color: rgb(69, 62, 62);
    font-weight: 700;
    font-size: 64px;
    text-align:center;
}
#con-map{
    margin: 30px 30px 10px 30px;
}
