#tm-1{
    display: grid;
    place-items: center;
    height: 300px;
    background: url('img/bbblurry.svg');
    /* background-blend-mode: hard-light; */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#tm-1 h2{
    color: rgb(69, 62, 62);
    font-weight: 700;
    font-size: 64px;
    text-align:center;
}
#skills-sec{
    text-align: center;
    display: block;
    margin: 50px auto 10px auto;

}
#skills-sec h2{
    font-size: 40px;
    width: 400px;
     color:rgb(64, 58, 58);
     margin: 10px auto;
     text-align: center;
}
#skills-sec p{
    width: 600px;
    margin: 10px auto;
    text-align: center;
   color: rgb(0, 0, 0);
}

@media (max-width:660px)
{
    #skills-sec p{
        width: 100%;
    }
    #skills-sec h2{
        width: 100%;
        padding: 5px 20px;
    }
}
